body{
    background-image: url(../images/pg1-background.jpg) !important;
    background-attachment: fixed;
    background-size: 1552px; 
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
  }
  h1{
    font-family: 'Notable', sans-serif;
    text-align: center;
    
  }
  h3{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-shadow:  1px 1px #FF0000;
    font-size:20px;
    
  }
  .avatar{
    border-radius: 50%;
    width: 80px;
    height: 80px;
  